body {
    background: #A1A6A1;
}


.page-header-bar h1 {  /*styles the header text*/
  color: #A0AE98;
text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: #536353;
font-family: Chicle;
font-size: 70px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.page-header-bar { /*styles the header bar*/
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #829777;    
    border: 5px solid rgba(0, 0, 0, 0.25);  
    border-radius: 20px;                     
    width: 80%;
    margin: 0px auto;
    padding: 20px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);  
}

.navbar { /*styles the navbar*/
    background-color: #585689 !important;    
    border: 5px solid rgba(0, 0, 0, 0.25);    
    border-radius: 15px;
    height: 50px;                 
    width: 100%;
    margin: 5px auto;
    padding: 20px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);  
}


.nav-link { /*styles the nav links*/
    color: #7C7AAA;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #585689;
    font-family: Chicle;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.active {
    color: white !important;
}

.about-me-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #536853;    
    border: 5px solid rgba(0, 0, 0, 0.25);  
    border-radius: 20px;                     
    width: 80%;
    margin: 5px auto;
    padding: 10px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);  
}
.about-me-text {
    color: #A0AE98;
    font-family: Chewy;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    padding: 0px;
}

.about-me-image {
    border-radius: 30px;
}

.image-1 {
    border: 10px solid #304F94
}
.image-2 {
    border: 10px solid #ECA461
}
.image-3 {
    border: 10px solid #4C3756
}
.image-caption {
    border-radius: 30px;
    border: 10px solid #3F2948;
    background: #4E3259;
    margin: 5px auto;
    color: #7A548A;
    font-family: Chewy;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center
}
.about-images-container {    
    background: #515774;
    border-radius: 30px;
    border: 10px solid #484762;
    height: 99%;

}
.about-images-text {
    color: #323145;
    font-family: Chewy;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    
}